.container {
  position: absolute;
  top: 40%;
  left: 45%;
  text-align:center;
  margin-top: -50px;
  margin-left: -55px;
  background:gray;
  padding:10px;
  border-radius:10px;
  border-color:blue;
  border-width:20px;
}
