.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;

  button {
    flex: 1;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size:1rem;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding: 16px;
}
