.braedcrumb {
  position: fixed;
  top: 11%;
  left: 16%;
  right: 2%;
  padding: 5px;
  background: #002b5c;
  color: #f5f5f5;
  border-radius: 10px;
}
.braedcrumb-text {
  color: wheat;

  background-color: #002b5c;
}
