.widget-container {
  display: flex;
  padding: 20px;

  .widget {
    width: 250px;
    height: 155px;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 10px;

    &.green {
      background-color: rgb(4, 67, 66);
    }

    &.yellow {
      background-color: rgb(237, 158, 32);
    }

    &.red {
      background-color: rgb(126, 5, 5);
    }

    &.blue {
      background-color: rgb(105, 32, 251);
    }



    .icon {
      width: 100px;
      font-size: 60px;
      text-align: center;
    }

    .value {
      text-align: center;
      width: 175px;

      .top {
        font-size: 30px;
      }

      .bottom {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}
